<body class="text-center" style="background-color:#2a212e">


    <h1 class="mt-5 pt-5" style="font-size: 70px; color: yellow">Welcome to the most awesome game website ever!</h1>
    <div class="justify-content-center d-flex">
        <div class="justify-content-around d-flex mx-5 pt-5 mt-5 col-7 offset-6">
            <a href="/home/mastermind" class="btn btn-outline-info btn-lg">Play Mastermind</a>
            <a href="/home/memory" class="btn btn-outline-danger  btn-lg">Play Memory</a>
            <a href="/home/hangman" class="btn btn-outline-success  btn-lg">Play Hangman</a>
        </div>
    </div>
</body>
