<body style="background-color: #837344;">
    <div class="mt-5 container" style="margin:0px">
        <div class="justify-content-between d-flex mb-5" style="color:white; font-size:30px">
            <label>Rounds: <span id="rounds">0</span> </label>
            <h1 class="m-0"> MEMORY GAME</h1>
            <label>Matches: <span id="score">0/7</span> </label>
        </div>
        <div>
            <img id="1" class="pic" style="width:175px; height:175px; object-fit: cover" />
            <img id="2" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
            <img id="3" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
            <img id="4" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
            <img id="11" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
            <img id="12" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
            <img id="13" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
        </div>
        <div class="mt-2">
            <img id="8" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
            <img id="9" class="pic" style="width: 175px; height:175px; object-fit: cover" />
            <img id="10" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
            <img id="5" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
            <img id="6" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
            <img id="7" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
            <img id="14" class="pic" style="width: 175px; height: 175px; object-fit: cover" />
        </div>
        <div class="container text-center mt-5" id="div-pic">
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/js/memory.js"></script>
}
